body{
    background-color: blanchedalmond;
}
#btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #btn:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  